.music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary-clr;
    width: 100%;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: -115px;
}

.music-player h1 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.6;
    color: #fff;
}

.music-player p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
    color: #ddd;
}