$primaryColor: #4527a4;
$primary-clr: rgba(228, 228, 229, 1);

.bBlocksMusicPlayer {
	background: #9384c5;
	border-radius: 10px;
}

// general style start
// create mixin
@mixin alignMentDiv($gap) {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: $gap ;
}
@mixin musicBtn($bg){
	background: $bg;
	color: white;
	transition: 0.5s
}
@mixin slideBtn($bg){
	width: 112px;
	background: $bg;
	color: white;
}
@mixin slideHoverBtn($bg){
	color: white;
	background: $bg;
	transition: 0.7s;
}

// use mixin property

.removeBtn{
	@include slideBtn(#dd2703e7);
}
.duplicateBtn{
	@include slideBtn(green);
}
.removeBtn:hover{
	@include slideBtn(#a8050de7);
}
.duplicateBtn:hover{
	@include slideBtn(#349109);
}
.thumbnail{
	@include alignMentDiv(0)
}

.addMusic:hover{
	@include musicBtn(#2ab77a);
}
.removeAndDuplicateBtn{
	@include alignMentDiv(5px)
}
.mediaBtn{
	background: #4527a4;
	color: white;
	height: 32px;
	margin-top: 15px;
	margin-left: -5px;
}
.addMusic{
	@include musicBtn(#4527a4);
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 5px;
	
	
}
// general style end

.mainMusicPlayer {
	@include alignMentDiv(0);
	flex-direction: column;
}

.swiper-wrapper {
	@include alignMentDiv(10px);
	width: 100%;
	padding: 30px 10px 100px;

}

// swiper slide

.swiper-slide {
	position: relative;
	max-width: 200px;
	aspect-ratio: 1/1;
	border-radius: 10px;
}

.swiper-slide img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	-webkit-box-reflect: below -5px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
	transform-origin: center;
	transform: perspective(800px);
	transition: 0.3s ease-out;
	pointer-events: none;
	user-select: none;
}

.swiper-slide-active .overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 98%;
	background-color: rgba(28, 22, 37, 0.6);
	border-radius: inherit;
	opacity: 0;
	transition: all 0.4s linear;
}

.swiper-slide:hover .overlay {
	opacity: 1;
}

.swiper-slide .overlay ion-icon {
	opacity: 0;
}

.swiper-slide-active:hover .overlay ion-icon {
	font-size: 4rem;
	color: #eb0b0b;
	opacity: 1;
	cursor: pointer;
}

/* Music Player */

.music-player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $primary-clr;
	width: 380px;
	padding: 10px 30px;
	border-radius: 20px;
}

.music-player-heading {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: -5px;
	color: white;
}

.music-player p {
	font-size: 1rem;
	font-weight: 400;
	opacity: 0.6;
}

/* Music Player Progress */

#progress {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	background: rgba(163, 162, 164, 0.4);
	border-radius: 4px;
	margin: 32px 0 24px;
	cursor: pointer;
}

#progress::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	background: rgba(62, 12, 112, 0.9);
	width: 16px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	outline: 4px solid $primary-clr;
	box-shadow: 0 6px 10px rgba(5, 36, 28, 0.3);
}

/* Music Player Controls */

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	aspect-ratio: 1/1;
	margin: 20px;
	background: rgba(163, 162, 164, 0.3);
	color: $primary-clr;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.3);
	outline: 0;
	font-size: 1.1rem;
	box-shadow: 0 10px 20px rgba(5, 36, 28, 0.3);
	cursor: pointer;
	transition: all 0.3s linear;
}

.controls button:is(:hover, :focus-visible) {
	transform: scale(0.96);
}

.controls button:nth-child(2) {
	transform: scale(1.3);
}

.controls button:nth-child(2):is(:hover, :focus-visible) {
	transform: scale(1.25);
}



.wp-block-mpws-music-player {
	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}

	// .bBlocksMusicPlayer {

	// }

	.icon {
		font-style: inherit;
	}

	img {
		width: 100%;
		max-width: 100%;
	}
}