// general style start
// create mixin
@mixin alignMentDiv($gap) {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: $gap ;
}
@mixin musicBtn($bg){
	background: $bg;
	color: white;
	transition: 0.5s
}
@mixin slideBtn($bg){
	width: 112px;
	background: $bg;
	color: white;
}
@mixin slideHoverBtn($bg){
	color: white;
	background: $bg;
	transition: 0.7s;
}

// use mixin property

.removeBtn{
	@include slideBtn(#dd2703e7);
}
.duplicateBtn{
	@include slideBtn(green);
}
.removeBtn:hover{
	@include slideBtn(#a8050de7);
}
.duplicateBtn:hover{
	@include slideBtn(#349109);
}
.thumbnail{
	@include alignMentDiv(0)
}

.addMusic:hover{
	@include musicBtn(#2ab77a);
}
.removeAndDuplicateBtn{
	@include alignMentDiv(5px)
}
.mediaBtn{
	background: #4527a4;
	color: white;
	height: 32px;
	margin-top: 15px;
	margin-left: -5px;
}
.addMusic{
	@include musicBtn(#4527a4);
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 5px;
	
	
}
// general style end